
body {
    font-family: monospace;
    color: rgba(0, 0, 0, .75);
    background-color: rgb(255, 255, 255);
}
#header {
    font-size: 10vh;
    text-align: center;
}
#headshot {
    height: 25vh;
    border-radius: 100%;
    display: block;
    margin: auto;
}
#blurb {
    text-align: center;
}
#icons {
    display: flex;
}
#icons a {
    text-align: center;
    margin: auto;
    text-decoration: none;
    color: rgba(0, 0, 0, .75);
    transition: opacity .5s;
}
#icons a:hover {
    opacity: .565;
}
